/* fondos de colores */
.fondoverde {
    background-color: rgb(1, 144, 96);
    color: white;
    text-align: center;
}

.encabezado {
    background-color: rgb(1, 144, 96);
    color: white;
}

/* Margenes */
.titulo {
    text-align: center;
    font-size: 50px;
}

.texto {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.margen2 {
    margin-left: 5px;
}

/* Tipografia */
@font-face {
    font-family: RobotoMono-VariableFont;
    src: url(./../Letra/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

.body {
    font-family: "RobotoMono-VariableFont";
}

.img_libro {
    width: 50%;
    height: 50%;
}

.imgmargen {
    align-items: center;
}

#contact-tab-pane {
    margin-left: 10%;
    text-align: left;
}



#home-tab-pane {
    margin-left: 10%;
    text-align: left;
}



#profile-tab-pane {
    margin-left: 10%;
    text-align: left;
}


.imagenlibro {
    display: flex;
    width: 15%;
}
